div {
	box-sizing: border-box;
}
div.appBar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 70px;
	padding-top: 24px;
	background-color: #CC0000;
	color: white;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
div.appBar.noshadow {
	box-shadow: none;
}
body[disableStatusBar='true'] div.appBar {
	height: 50px;
	padding-top: 0;
}
div.appBar > h1 {
	font-weight:normal;
	margin:0px;
	padding:0px;
	text-align:center;
	line-height: 46px;
	text-align: left;
	margin-left: 72px;
	margin-right: 16px;
	font-size: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	-webkit-transition-delay: 250ms;
	transition-delay: 250ms;
	-webkit-transition: 50ms linear -webkit-transform;
	transition: 50ms linear transform;
}
div.appBar.hasSubTitle > h1 {
	-webkit-transition: 250ms ease-out -webkit-transform;
	transition: 250ms ease-out transform;
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}
div.appBar > span.return_button {
	font-family: "Material Icons";
	display: inline-block;
	position: absolute;
	top: 22px;
	left: 8px;
	padding: 0;
	margin: 0;
	height: 50px;
	width: 50px;
	padding-top: 10px;
	text-transform: initial !important;
}
div.appBar > span.return_button > span,
div.appBar > span.menu_button > span {
	font-size: 30px;
	line-height: 30px;
}
div.appBar > span.subTitle {
	position: absolute;
    display: inline-block;
    top: 30px !important;
    left: 0;
    margin-left: 72px;
    margin-right: 16px;
	opacity: 0.0;
}
div.appBar.hasSubTitle > span.subTitle {
	transition: 250ms linear opacity;
	transition-delay: 500ms;
	opacity: 1.0;
}
div.appBar > span.return_button > div.buttonShade,
div.appBar > span.menu_button > div.buttonShade,
div.cardParent > div.cardHeader > span.button.cardCloseButton > div.buttonShade,
div.sideNav > div.sidenav_header > span.button.accountButton > div.buttonShade {
	width: 60px !important;
	height: 60px !important;
}
div.appBar > span.menu_button {
	font-family: "Material Icons";
	display: block;
	position: absolute;
	right: 0;
	top: 22px;
	padding: 0;
	margin: 0;
	height: 50px;
	width: 50px;
	padding-top: 10px;
}
body[disableStatusBar='true'] div.appBar > span.return_button,
body[disableStatusBar='true'] div.appBar > span.menu_button {
	top: 0;
}
div.appBar > div.menu_list {
	z-index: 20;
	position: fixed;
	top: 28px;
	right: 16px;
	width: auto;
	min-width: 200px;
	max-width: 80%;
	height: auto;
	max-height: calc(100vh - 150px);
	overflow-y: auto;
	background-color: white;
	color: #202020;
	box-shadow: 0px 0px 5px 0px grey;
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-webkit-animation: 150ms linear closeSelector;
	animation: 150ms linear closeSelector;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
body.compat div.appBar > div.menu_list {
	-webkit-animation: initial;
	animation: initial;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 150ms linear opacity;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 150ms linear opacity;
	opacity: 0.0;
}
div.appBar > div.menu_list.visible {
	-webkit-animation: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) openSelector forwards;
	animation: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) openSelector forwards;
}
body.compat div.appBar > div.menu_list.visible {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1.0;
}
div.appBar > div.menu_list > span.menu_item {
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	border-bottom: 1px solid lightgrey;
}
div.appBar > div.menu_list > span.menu_item:active {
	background-color: rgba(0,0,0,0.1);
}
div.appBar > div.menu_list > span.menu_item:last-child {
	border-bottom: 0;
}
div.appBar > div.menu_list > span.menu_item > span {
	padding-right: 32px;
}
div.appBar > div.menu_list > span.menu_item div.checkbox {
	position: absolute;
	right: 16px;
}
div.cardPlaceholder {
	display: inline-block;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
}
div.card {
	position: relative;
	display: block;
	width: 95%;
	height: calc(53.4375vw + 50px);
	min-height: 150px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	margin-top: 4px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px #303030;
	overflow: hidden;
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 100ms linear box-shadow;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 100ms linear box-shadow;
}
div.card > div.img_frame {
	position: relative;
	width: 100%;
	height: 53.4375vw;
	overflow: hidden;
	background-color: #9E9E9E;
}
body.compat div.card > div.img_frame {
	height: 200px !important;
}
div.card > div.img_frame > img {
	width: 100%;
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 150ms linear opacity;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 150ms linear opacity;
	transform-origin: top left;
	opacity: 0.0;
}
div.card > div.headerbar {
	display: none;
}
div.card > div.headerbar > h1.headertitle {
	opacity: 0.0;
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform 50ms, 100ms linear opacity;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) transform 50ms, 100ms linear opacity;
	padding-left: 60px;
	margin: 0;
	line-height: 46px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	color: white;
}
div.card > div.headerbar > span.button {
	position: fixed;
	top: 16px;
	z-index: 20;
	color: white;
	font-family: "Material Icons";
	font-size: 26px;
	-webkit-transition: 150ms linear opacity;
	transition: 150ms linear opacity;
	opacity: 0.0;
	text-shadow: 0px 1px 2px black;
}
div.card > div.card_content {
	display: none;
	padding: 16px;
	padding-top: 0;
	font-size: 14px;
	position: relative;
	z-index: 1;
	margin: 0;
	background-color: white;
}
div.card > h1 {
	margin: 0;
	padding: 16px;
	font-family: "Roboto Light";
	font-size: 18px;
	position: relative;
	z-index: 1;
	background-color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
div.card > h1.hasCI {
	width: 70%;
	padding-right: 0;
}
div.card > div.closedInfo {
	position: absolute;
	bottom: 6px;
	right: 10px;
	z-index: 21;
	width: 25%;
	color: #777777;
	font-size: 12px;
	white-space: nowrap;
}
div.card > div.closedInfo > span.material-icons {
	font-size: 20px;
}
div.cardPlaceholder.open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 149;
}
div.cardPlaceholder.open > div.card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
div.cardPlaceholder.open > div.card > div.closedInfo {
	display: none;
}
div.cardPlaceholder.open > div.card > h1 {
	width: 100%;
	padding-right: 16px;
}
div.cardPlaceholder.open > div.card > div.img_frame {
	width: 100%;
	position: relative;
	z-index: 0;
}
div.cardPlaceholder.open > div.card > div.card_content {
	display: block;
}
div.cardPlaceholder.open > div.card > div.headerbar {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 68px;
	padding-top: 24px;
	z-index: 20;
	background-color: transparent;
	-webkit-transition: 250ms linear background-color;
	transition: 250ms linear background-color;
}
div.cardPlaceholder.open > div.card > div.headerbar.fixed {
	background-color: #CC0000;
}
div.cardPlaceholder.open > div.card > div.headerbar.fixed > h1.headertitle {
	opacity: 1.0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
div.cardSpaceReserver {
	display: inline-block;
}

div.inlineCard {
	display: block;
	width: 100%;
	height: 100px;
	position: relative;
	-webkit-transition: 500ms ease-in -webkit-transform;
	transition: 500ms ease-in transform;
}
div.inlineCard > div.cardItem {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transition: 150ms ease-out -webkit-transform;
	transition: 150ms ease-out transform;
	background-color: #FFFFFF;
	-webkit-transform: translateX(0);
	transform: translateX(0);
    border: 1px solid #E0E0E0;
    border-top: 0;
}
div.inlineCard > div.cardItem.read > span.card_title {
	font-weight: normal !important;
}
div.inlineCard > div.cardItem.leftBehind {
	-webkit-transform: translateX(-60px);
	transform: translateX(-60px);
}
div.inlineCard > div.cardItem > img.card_image {
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 8px;
	width: 84px;
	background-color: #D0D0D0;
}
div.inlineCard > div.cardItem > img.card_image.loaded {
	background-color: transparent;
}
div.inlineCard > div.cardItem > span.card_title {
	position: absolute;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	left: 100px;
	top: 8px;
	right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 19px;
	font-weight: bold;
	bottom: 24px;
}
div.inlineCard > div.cardItem > span.card_subtitle {
	position: absolute;
	display: block;
	left: 100px;
	bottom: 8px;
	right: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.8;
	white-space: nowrap;
}
div.inlineCard > div.leaveBehind {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60px;
	background-color: #D50000;
	box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.25);
	text-align: center;
	line-height: 100px;
	color: white;
	font-family: "Material Icons";
	font-size: 40px;
}
div.inlineCard > div.leaveBehind:active {
	background-color: #F44336;
}

div.cardParent {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 50;
	overflow: hidden;
}
div.cardParent.open {
	display: block;
	-webkit-animation: openInlineCard 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
	animation: openInlineCard 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
div.cardParent.close {
	display: block;
	-webkit-animation: closeInlineCard 250ms cubic-bezier(0.4, 0.0, 1, 1) forwards;
	animation: closeInlineCard 250ms cubic-bezier(0.4, 0.0, 1, 1) forwards;
}
@-webkit-keyframes openInlineCard {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity:0.0;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity:1.0;
	}
}
@keyframes openInlineCard {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity:0.0;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity:1.0;
	}
}
@-webkit-keyframes closeInlineCard {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity:1.0;
	}
	100% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity:0.0;
	}
}
@keyframes closeInlineCard {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity:1.0;
	}
	100% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity:0.0;
	}
}

div.cardParent > div.cardContent {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
div.cardParent div.cardImageContainer {
	height: 56.25vw;
	width: 100%;
	background-color: #D0D0D0;
	overflow: hidden;
}
div.cardParent div.cardImageContainer > img.cardImage {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	opacity: 0.0;
	-webkit-transition: 250ms linear opacity;
	transition: 250ms linear opacity;
}
/* cardimagecontainer uses 'vw', which is not supported by old phones. 
	Using width 100% fixes for portrait, but breaks landscape a little */
body.compat div.cardParent div.cardImageContainer > img.cardImage {
	height: initial;
	width: 100%;
}
div.cardParent div.cardImageContainer > img.cardImage.loaded {
	opacity: 1.0;
}
div.cardParent > div.cardContent > h1.cardTitle {
	margin: 0;
	padding: 8px;
}
div.cardParent > div.cardContent > span.cardText {
	display: inline-block;
	padding: 8px;
	font-size: 16px;
}
div.cardParent > div.cardContent > canvas.card_loader {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
div.cardParent > div.cardHeader {
	position: fixed;
	z-index: 6;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: transparent;
	-webkit-transition: 150ms linear background-color;
	transition: 150ms linear background-color;
}
div.cardParent > div.cardHeader.visible {
	background-color: #CC0000;
}
div.cardParent > div.cardHeader > h1.cardHeaderTitle {
	font-size: 18px;
	margin: 0;
	position: absolute;
	left: 64px;
	right: 48px;
	top: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
	line-height: 48px;
	opacity: 0.0;
	overflow: hidden;
}
div.cardParent > div.cardHeader.visible > h1.cardHeaderTitle {
	opacity: 1.0;
}
div.cardParent > div.cardHeader > span.button.cardCloseButton {
	position: absolute;
	top: 16px;
	left: -8px;
	font-family: "Material Icons";
	color: white;
	font-size: 30px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-webkit-transition: 150ms linear text-shadow;
	transition: 150ms linear text-shadow;
}
div.cardParent > div.cardHeader > span.button.cardExtraButton {
	left: initial;
	right: -8px;
	display: none;
}
div.cardParent > div.cardHeader.visible > span.button.cardCloseButton {
	text-shadow: none;
}
body[disablestatusbar="true"] div.cardParent > div.cardHeader {
	height: 46px;
}
body[disablestatusbar="true"] div.cardParent > div.cardHeader > h1.cardHeaderTitle {
	top: initial;
}
body[disablestatusbar="true"] div.cardParent > div.cardHeader > span.button.cardCloseButton {
	top: -8px;
}
div.cardParent > div.inlineCard_error {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: white;
}
div.cardParent > div.inlineCard_error > div.image_positioning {
    width: 256px;
    height: 256px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
}
div.cardParent > div.inlineCard_error > div.image_positioning > img.message_error_img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: error_main 15s ease-in-out infinite;
}
div.cardParent > div.inlineCard_error > img.message_error_img2 {
    width: 25%;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-animation: error_icon 15s infinite ease-out;
    animation: error_icon 15s infinite ease-out;
}
div.cardParent > div.inlineCard_error > div.image_positioning > h2.message_error_text {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}
@-webkit-keyframes error_icon {
    0% {-webkit-transform:translateX(-120px);}
    40% {-webkit-transform:translateX(-120px);}
    60% {-webkit-transform:translateX(-10px);}
    65% {-webkit-transform:translateX(-10px);}
    67% {-webkit-transform:translateX(-120px);}
    100% {-webkit-transform:translateX(-120px);}
}
@keyframes error_icon {
    0% {transform:translateX(-120px);}
    40% {transform:translateX(-120px);}
    60% {transform:translateX(-10px);}
    65% {transform:translateX(-10px);}
    67% {transform:translateX(-120px);}
    100% {transform:translateX(-120px);}
}
@-webkit-keyframes error_main {
	0% {-webkit-transform:rotateY(0deg);}
	20% {-webkit-transform:rotateY(0deg);}
	30% {-webkit-transform:rotateY(180deg);}
	60% {-webkit-transform:rotateY(180deg);}
	70% {-webkit-transform:rotateY(360deg);}
	100% {-webkit-transform:rotateY(360deg);}
}
@keyframes error_main {
	0% {transform:rotateY(0deg);}
	20% {transform:rotateY(0deg);}
	30% {transform:rotateY(180deg);}
	60% {transform:rotateY(180deg);}
	70% {transform:rotateY(360deg);}
	100% {transform:rotateY(360deg);}
}


@media screen and (min-width:480px) { /* Breakpoint 1 */
/* 
	xsmall
	Columns: 8
*/	
	div.cardPlaceholder {
		width: 50%;
	}
	div.cardPlaceholder > div.card {
		height: calc(26.71875vw + 50px);
	}
	div.cardPlaceholder > div.card > div.img_frame {
		height: 26.71875vw;
	}
}

@media screen and (min-width:840px) { /* Breakpoint 3 */
/* 
	small
	Columns: 12
*/
	
	div.cardPlaceholder {
		width: 33.3%;
	}
	div.cardPlaceholder > div.card {
		height: calc(17.8125vw + 50px);
	}
	div.cardPlaceholder > div.card > div.img_frame {
		height: 17.8125vw;
	}
}
@media screen and (min-aspect-ratio: 1/1) { /* Landscape */
	div.cardParent div.cardImageContainer {
		height: 56.25vh;
	}
}


span.button {
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	padding: 8px 16px;
	margin: 8px;
	min-width: 40px;
	border: 0;
	outline: 0;
	background-color: transparent;
	text-align: center;
	border-radius: 2px;
	vertical-align: top;
	-webkit-transition: 100ms linear background-color;
	transition: 100ms linear background-color;
	-webkit-user-select: none;
	user-select: none;
}
span.button > div.buttonShade {
	z-index:1;
	position: absolute;
	top:-200px;
	left:-200px;
	width:400px;
	height:400px;
	background-color:lightgrey;
	background-position:0px 0px;
	-webkit-transform:scale(0.01);
	transform:scale(0.01);
	opacity:0;
	pointer-events:none;
	border-radius:50%;
}
span.button > span {
	display: block;
	width: 100%;
}
/*
span.button.active, span.button:active {
	background-color: #900026 !important;
	color: white !important;
}
*/
span.button.raised {
	box-shadow: 0px 1px 2px 0px grey;
	background-color: transparent;
	-webkit-transition: 100ms linear background-color, 100ms linear box-shadow;
	transition: 100ms linear background-color, 100ms linear box-shadow;
}

span.button.colored {
	background-color: #CC0000;
	color: white;
	font-size: 15px;
	-webkit-transition: 100ms linear background-color, 100ms linear box-shadow;
	transition: 100ms linear background-color, 100ms linear box-shadow;
}
/*
span.button.raised.active, span.button.raised:active {
	background-color: #C0C0C0;
	box-shadow: 0px 3px 5px 0px grey;
}
*/
div.dialogFrame {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	-webkit-transition: 200ms linear opacity;
	transition: 200ms linear opacity;
	opacity: 0.0;
	background-color: rgba(0,0,0,0.3);
}
div.dialogFrame.visible {
	opacity: 1.0;
}
div.dialogFrame > div.dialog {
	max-width: 90%;
	width: 400px;
	max-height: 90%;
	min-height: 100px;
	background-color: white;
	box-shadow: 0px 0px 15px 0px grey;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: hidden;
}
div.dialogFrame.compat > div.dialog {
	overflow-y: scroll;
}
div.dialogFrame > div.dialog.fixedSize {
	height: 100px;
}
div.dialog > span.dialog_message {
	display: block;
	width: 100%;
	font-size:18px;
	opacity: 0.75;
	padding: 15px;
	overflow-y: auto;
	max-height: 70vh;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}
div.dialog > span.dialog_message.center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
div.dialog > span.dialog_message.showsLoader {
	padding-left: 100px;
}
div.dialog > span.dialog_message > h2 {
	margin: 0;
	margin-bottom: 12px;
}
div.dialog > div.dialog_buttons {
	text-align: right;
	color: #CC0000;
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
div.dialog > div.dialog_buttons > span {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
div.dialog > canvas.dialog_loader {
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) scale(0.75);
	transform: translateY(-50%) scale(0.75);
}
div.dialog > canvas.dialog_loader.visible {
	display: block;
}
table.list {
	width: 100%;
	height: auto;
	font-size: 16px;
	border-spacing: 0;
}
table.list tr {
	background-color: transparent;
	transition: 50ms linear background-color;
}
table.list tr:active {
	background-color: rgba(0,0,0,0.1);
}
table.list td:first-child > span.material-icons {
	font-size: 34px;
}
table.list td,
table.list th {
	border-bottom: 1px solid #E0E0E0;
}

table.settinglist {
	width: 100%;
	height: auto;
	font-size: 18px;
	border-spacing: 0;
}
table.settinglist tr {
	transition: 150ms linear background-color;
}
table.settinglist tr:active {
	transition: 60ms linear background-color;
	background-color: rgba(0,0,0,0.125);
}
table.settinglist tr > * {
	height: 64px;
	padding: 8px 16px;
	vertical-align: middle;
	font-family: "Roboto Regular";
	position: relative;
}
table.settinglist tr > *:first-child {
	padding-right: 0px;
	width: 50px;
}
table.settinglist tr > td > small {
	opacity: 0.5;
}
table.settinglist div.material-icons,
table.settinglist div.climateControlIcons {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #606060;
	font-size: 36px;
	line-height: 40px;
	padding-left: 2px;
}
table.settinglist tr.withRightSetting > td:last-child {
	padding-left: 4px;
	padding-right: 8px;
}

span.slider {
	display: inline-block;
	height: 30px;
}
span.slider > div.inner_slider {
	position: relative;
	height: 2px;
	background-color: lightgrey;
	margin-top: 14px;
	margin-left: 10px;
}
span.slider > div.inner_slider > div.sliding_progress {
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2196f3;
	-webkit-transition: 125ms cubic-bezier(0.4, 0.0, 0.2, 1) width;
	transition: 125ms cubic-bezier(0.4, 0.0, 0.2, 1) width;
	z-index: 1;
}
span.slider > div.inner_slider > div.slidingElement {
	position: relative;
	left: 0;
	top: 0;
	transform: translate3d(-50%,-50%,0);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: grey;
	cursor: pointer;
	-webkit-transition: 50ms cubic-bezier(0.4, 0.0, 0.2, 1) width, 50ms cubic-bezier(0.4, 0.0, 0.2, 1) height, 50ms linear background-color, 125ms cubic-bezier(0.4, 0.0, 0.2, 1) left;
	transition: 50ms cubic-bezier(0.4, 0.0, 0.2, 1) width, 50ms cubic-bezier(0.4, 0.0, 0.2, 1) height, 50ms linear background-color, 125ms cubic-bezier(0.4, 0.0, 0.2, 1) left;
	z-index: 2;
}
span.slider > div.inner_slider > div.slidingElement.sliding {
	width: 24px;
	height: 24px;
	background-color: #2196f3;
}
div.checkbox {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid grey;
	border-radius: 2px;
	-webkit-transition: 100ms linear background-color, 100ms linear border-color;
	transition: 100ms linear background-color, 100ms linear border-color;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
div.checkbox.checked {
	background-color: #2196f3;
	border-color: #2196f3;
}
div.checkbox > div.innercb {
	font-family: 'Material Icons';
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	line-height: 20px;
	font-size: 20px;
	position: relative;
	top: -2px;
	left: -2px;
}
div.checkbox > div.checkboxCircle {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2196f3;
	opacity: 0.25;
	-webkit-transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 100ms linear opacity;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 100ms linear opacity;
	-webkit-transform: scale(0);
	transform: scale(0);
}
div.checkbox > div.checkboxCircle.active {
	-webkit-transform: scale(1);
	transform: scale(1);
}
div.checkbox.disabled {
	border-color: lightgrey;
}
div.checkbox.active.disabled {
	background-color: lightgrey;
	border-color: lightgrey;
}
div.checkbox.disabled > div.checkboxCircle {
	background-color: grey;
}

div.radioButton {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid grey;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: 100ms linear border-color;
	transition: 100ms linear border-color;
}
div.radioButton.active {
	border-color: #CC0000; /*#2196f3*/
}
div.radioButton > div.radiobg {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	-webkit-transition: 100ms linear background-color;
	transition: 100ms linear background-color;
	-webkit-pointer-events: none;
	pointer-events: none;
}
div.radioButton.active > div.radiobg {
	background-color: #CC0000;
}
div.radioButton > div.radioCircle {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #CC0000;
	opacity: 0.25;
	-webkit-transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 100ms linear opacity;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 100ms linear opacity;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-pointer-events: none;
	pointer-events: none;
}
div.radioButton > div.radioCircle.active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

div.switchContainer {
	display: inline-block;
	position: relative;
	width: 48px;
	height: 24px;
}
div.switchContainer > div.switch {
	display: block;
	position: relative;
	width: 30px;
	height: 14px;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: grey;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-transition: 100ms linear opacity;
	transition: 100ms linear opacity;
}
div.switchContainer > div.switch > div.switcher {
	position: absolute;
	width: 20px;
	height: 20px;
	left: -5px;
	top: -3px;
	border-radius: 50%;
	background-color: #F0F0F0;
	z-index: 2;
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-transition: 100ms cubic-bezier(0.4, 0.0, 0.2, 1) left, 100ms linear background-color;
	transition: 100ms cubic-bezier(0.4, 0.0, 0.2, 1) left, 100ms linear background-color;
	box-shadow: 0.5px 0.5px 3px 0px black;
}
div.switchContainer > div.switch.active {
	background-color: #6FA72E;
}
div.switchContainer > div.switch.active > div.switcher {
	background-color: #CC0000;
	left: 15px;
}
div.sideNav {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-320px);
	transform: translateX(-320px);
	height: 100%;
	width: 90%;
	padding-top: 124px;
	padding-bottom: 40px;
	width: 280px;
	background-color: white;
	box-shadow: 0px 0px 3px 0px grey;
	-webkit-transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	z-index: 90;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
div.sideNav_blocker {
	z-index: 89;
	background-color: rgba(0,0,0,0.5);
	opacity: 0.0;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 100ms linear opacity;
	transition: 100ms linear opacity;
}
div.sideNav.active {
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
div.sideNav[sliding='1'] {
	-webkit-transition: 67ms linear transform;
	transition: 67ms linear transform;
}
body[disableStatusBar='true'] div.sideNav {
	padding-top: 104px;
}
div.sideNav > div.sidenav_header {
	position: absolute;
	top: 0;
	left: 0;
	height: 120px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
	background: -webkit-radial-gradient(circle, #CC0000 0%, #a80000 100%);
	background: radial-gradient(circle, #CC0000 0%, #a80000 100%);
	color: white;
}
body[disableStatusBar='true'] div.sideNav > div.sidenav_header {
	height: 100px;
}
div.sideNav > div.sidenav_header > span.sidenav_title {
	font-size: 18px;
	position: absolute;
	right: 64px;
	bottom: 4px;
	left: 16px;
}
div.sideNav > div.sidenav_header > span.sidenav_title > small {
	display: inline-block;
	width: 100%;
	opacity: 0.75;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.sideNav > div.sidenav_header > span.sidenav_close {
	font-family: "Material Icons";
	position: absolute;
	top: 18px;
	left: -8px;
	text-transform: initial !important;
	font-size: 26px;
	color: white;
}
div.sideNav > div.sidenav_header > span.button.accountButton {
	position: absolute;
	bottom: 0px;
	right: -8px;
	font-family: "Material Icons";
	font-size: 26px;
}
div.sideNav > div.sidenav_header > span.button.accountButton small {
	font-size: 9px;
	font-family: "Roboto Regular";
	text-transform: initial;
    padding-bottom: 5px;
    display: inline-block;
}
div.sideNav > div.sideNav_list {
	position: relative;
/*	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;*/
}
div.sideNav > div.sideNav_list > div.sidenav_listitem {
	position: relative;
	width: 100%;
	height: 50px;
	padding-left: 16px;
	padding-right: 16px;
}
div.sideNav > div.sideNav_list > div.sidenav_listitem.disabled {
	background-color: rgba(0,0,0,0.25);
	opacity: 0.5;
}
div.sideNav > div.sideNav_list > div.sidenav_listitem > span.icon {
	display: block;
	position: absolute;
	height: 40px;
	width: 40px;
	font-family: 'Material Icons';
	font-size: 26px;
	line-height: 40px;
	top: 5px;
	left: 10px;
	text-transform: initial !important;
}
div.sideNav > div.sideNav_list > div.sidenav_listitem > span.title {
	position: relative;
	display: inline-block;
	left: 40px;
	line-height: 50px;
	font-size: 16px;
	text-align: left;
	width: calc(100% - 42px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.sideNav > div.sideNav_list > div.sidenav_listitem > span.alerts {
	display: none;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	top: 10px;
	right: 8px;
	font-size: 16px;
	color: white;
	font-family: "Roboto Regular";
}
div.sideNav > div.sideNav_list > div.sidenav_listitem > span.alerts.visible {
	display: block;
}
div.sideNav > div.sideNav_list > div.sidenav_listitem:active {
	background-color: rgba(0,0,0,0.15);
}

div.rightNav {
	left: 0;
	text-align: left;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition:  350ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition:  350ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	background-color: #FFFFFF;
	z-index: 49;
	position: absolute;
	top: 24px;
	bottom: 0;
}
body[platform='ios'] div.rightNav {
	top: 20px;
}
body[disableStatusBar='true'] div.rightNav, body[keyboardshown="1"] div.rightNav {
	top: 0 !important;
}
div.rightNav[visible='1'] {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
div.rightNav > div.appBar {
	height: 50px;
	padding-top: 0;
}
div.rightNav > div.appBar > span {
	top: 0;
}

div.snackbar {
	display: block;
	position: fixed;
	bottom: 0;
	min-height: 48px;
	width: 100%;
	background-color: #323232;
	padding: 16px 20px;
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	color: white;
	z-index: 110;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
div.snackbar[visible='1'] {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
div.snackbar > div.snackbar_buttons {
	position: absolute;
	right: 0;
	top: 50%;
	height: 48px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #2196f3;
}
div.snackbar > div.snackbar_buttons > span.button.raised {
	margin: 8px;
	box-shadow: none;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
}

canvas.progressbar {
	width: 100%;
	height: 2px;
	display: block;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transition: 100ms ease -webkit-transform;
	transition: 100ms ease transform;
}
canvas.progressbar[visible='1'] {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

div.input_wrap {
	position: relative;
	display: inline-block;
	padding: 16px 0px;
	margin-right: 8px;
	padding-bottom: 20px;
	width: 100%;
	overflow: hidden;
}
div.input_wrap[textarea] {
	padding-top: 0;
}
div.input_wrap > input,
div.input_wrap > textarea {
	border: 0;
	background-color: transparent;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
	font-family: "Roboto Regular";
	width: 100%;
	resize: none;
}
div.input_wrap > textarea {
	padding: 8px;
	padding-top: 24px;
	border: 2px solid rgb(107,107,107);
	border-radius: 4px;
}
div.input_wrap > span.label {
	position: absolute;
	top: 24px;
	left: 0px;
	right: 0px;
	white-space: nowrap;
	font-size: 18px;
	color: black;
	opacity: 0.42;
	-webkit-transition: 100ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition: 100ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	transform-origin: top left;
	-webkit-transform-origin: top left;
	pointer-events: none;
	-webkit-pointer-events: none;
}
div.input_wrap[textarea] > span.label {
	left: 8px;
}
div.input_wrap > span.label.float {
	-webkit-transform: translateY(-24px) scale(0.7);
	transform: translateY(-24px) scale(0.7);
}
div.input_wrap > div.border {
	position: absolute;
	bottom: 24px;
	left: 0px;
	right: 0px;
	height: 1px;
	border: 0;
	border-bottom: 2px solid black;
	opacity: 0.42;
}
div.input_wrap > span.helpertext {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	opacity: 0.42;
}
div.input_wrap > span.errortext {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 14px;
	display: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #FF1744;
	opacity: 0.87;
}



div.input_wrap.focus > span.label {
	color: #2962FF;
	opacity: 0.87;
}
div.input_wrap.focus > div.border {
	border-color: #2962FF;
	opacity: 0.87;
}
div.input_wrap.focus > textarea {
	border-radius: 0;
	border-color: transparent;
	height: 100%;
}
div.input_wrap.focus[textarea] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background-color: white;
}


div.input_wrap.disabled > div.border {
	border-style: dotted;
}
div.input_wrap.disabled > input {
	color: black;
	opacity: 0.42;
}
div.input_wrap.disabled > textarea {
	color: black;
	opacity: 0.42;
	background-color: grey;
}

@-webkit-keyframes errorshake {
	0% {-webkit-transform:translateY(-24px) scale(0.7);}
	33% {-webkit-transform:translateY(-24px) scale(0.7) translateX(4px);}
	66% {-webkit-transform:translateY(-24px) scale(0.7) translateX(-4px);}
	100% {-webkit-transform:translateY(-24px) scale(0.7);}
}
@keyframes errorshake {
	0% {transform:translateY(-24px) scale(0.7);}
	33% {transform:translateY(-24px) scale(0.7) translateX(4px);}
	66% {transform:translateY(-24px) scale(0.7) translateX(-4px);}
	100% {transform:translateY(-24px) scale(0.7);}
}
@-webkit-keyframes loadtop {
	0% {-webkit-transform: translateY(-4px);opacity:0}
	100% {-webkit-transform: translateY(0);opacity:1}
}
@keyframes loadtop {
	0% {transform: translateY(-4px);opacity:0}
	100% {transform: translateY(0);opacity:1}
}
div.input_wrap.error > span.label {
	color: #FF1744;
	opacity: 0.87;
	animation: errorshake 150ms linear;
}
div.input_wrap.error > span.helpertext {
	display: none;
}
div.input_wrap.error > span.errortext {
	display: inline;
	animation: loadtop 150ms linear;
}
div.input_wrap.error > div.border {
	border-color: #FF1744;
	opacity: 1;
}
div.input_wrap.error > textarea {
	border-color: #FF1744;
	opacity: 1;
}
div.stepper {
	width: 100%;
	position: relative;
}
div.stepper_item {
	display: block;
	padding: 8px 8px;
}

span.step_count {
	display: inline-block;
	background-color: #AEAEAE;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	vertical-align: middle;
	margin: 4px;
	margin-right: 8px;
}
div.stepper_item.activated > span.step_count {
	background-color: #CC0000;
}

div.stepper_content {
	transform: rotateX(90deg);
	transform-origin: top;
	transition: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	padding: 16px 8px;
	padding-left: 20px;
	margin-left: 24px;
	border-left: 2px solid grey;
	display: none;
}
div.stepper_content:last-child {
	border: none;
}
div.stepper_content.visible {
	transform: initial;
	display: block;
}

@-webkit-keyframes openSelector {
	0% {-webkit-transform: rotateX(90deg);opacity:0.0;}
	100% {-webkit-transform: rotateX(0deg);opacity:1.0;}
}
@keyframes openSelector {
	0% {transform: rotateX(90deg);opacity:0.0;}
	100% {transform: rotateX(0deg);opacity:1.0;}
}
@-webkit-keyframes closeSelector {
	0% {-webkit-transform: rotateX(0deg);opacity:1.0;}
	99% {-webkit-transform: rotateX(0deg);opacity:0.0;}
	100% {-webkit-transform: rotateX(90deg);opacity:0.0;}
}
@keyframes closeSelector {
	0% {transform: rotateX(0deg);opacity:1.0;}
	99% {transform: rotateX(0deg);opacity:0.0;}
	100% {transform: rotateX(90deg);opacity:0.0;}
}
div.selector {
	position: relative;
}
div.selector > div.selectorBase {
	border: 1px solid lightgrey;
	background-color: white;
	padding: 8px;
}
div.selector > div.selectorBase::after {
    content: "\e5c5";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    font-family: "Material Icons";
    color: black;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.selector > div.selectorWrap {
	display: block;
	position: absolute;
	box-shadow: 0px 0px 2px black;
/*	top: 8px;
	left: 16px;*/
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10;
	min-width: 150px;
	-webkit-transform: rotateX(90deg);
	-webkit-transform-origin: top left;
	-webkit-animation-fill-mode: forwards;
	transform: rotateX(90deg);
	transform-origin: top left;
	animation-fill-mode: forwards;
}
div.selector > div.selectorWrap.visible {
	-webkit-animation: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) openSelector forwards;
	animation: 250ms cubic-bezier(0.4, 0.0, 0.2, 1) openSelector forwards;
}
div.selector > div.selectorWrap.closing {
	-webkit-animation: 150ms linear closeSelector;
	animation: 150ms linear closeSelector;
}
body.compat div.selector > div.selectorWrap.closing {
	-webkit-animation: initial;
	animation: initial;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	-webkit-transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform, 150ms linear opacity;
	transition: 150ms cubic-bezier(0.4, 0.0, 0.2, 1) transform, 150ms linear opacity;
	opacity: 0.0;
}
div.selector > div.selectorWrap > span.selectorOption {
	display: block;
	padding: 16px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}
div.selector > div.selectorWrap > span.selectorOption:last-child {
	border-bottom: 0;
}
div.selector > div.selectorWrap > span.selectorOption:active {
	background-color: rgba(0,0,0,0.25);
}
div.selector > div.selectorWrap > span.selectorOption.selected {
	pointer-events: none;
	background-color: #F0F0F0;
	opacity: 0.5;
}

div.multipleSelector {
	max-height: calc(90vh - 150px);
	overflow-y: scroll;
	border: 1px solid #E0E0E0;
}
div.multipleSelector_option {
	width: 100%;
	height: 48px;
	border-bottom: 1px solid #E0E0E0;
	padding: 8px;
	position: relative;
}
div.multipleSelector_option:last-child {
	border: 0;
}

div.multipleSelector_option > div.checkbox {
	position: absolute;
	right: 8px;
	top: 14px;
}
span.multipleSelector_optiontitle {
	line-height: 32px;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	left: 8px;
	right: 32px;
}

ul.tabheader {
    width: auto;
    height: 48px;
    overflow-y: hidden;
    overflow-x: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    padding-left: 72px;
	padding-right: 24px;
    width: 100vw;
}

ul.tabheader > li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 250px;
	min-width: 72px;
    overflow: hidden;
	text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 46px;
    height: 48px;
	opacity: 0.75;
	-webkit-transition: 100ms linear opacity, 150ms linear background-color, 100ms linear border-bottom-width;
	transition: 100ms linear opacity, 150ms linear background-color, 100ms linear border-bottom-width;
	text-transform: uppercase;
	border-bottom: 0px solid white;
}
ul.tabheader > li:active {
	background-color: rgba(255,255,255,0.25);
}
ul.tabheader > li.active {
    border-bottom-width: 4px;
	opacity: 1.0;
}

div.tabcontainer {
	width: auto;
	white-space: nowrap;
	-webkit-transition: 200ms ease-out -webkit-transform;
	transition: 200ms ease-out transform;
	vertical-align:top;
}
div.tabcontainer[sliding] {
	-webkit-transition-duration: 50ms;
	transition-duration: 50ms;
}
div.tabcontainer > div.tab {
	display: inline-block;
	width: 100%;
	vertical-align:top;
}

div.refreshIcon {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0px 0px 3px black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 9;
	transition: 33ms linear transform;
	transform: translateY(0px);
	overflow: hidden;
}
div.refreshIcon > span {
	display: block;
	font-family: "Material Icons";
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	color: #03A9F4;
}
div.refreshIcon > canvas {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
}
/*
body[keyboardShown] div.statusbar {
	display: none !important;
}

body[keyboardShown] div.normalpage {
	padding-top: 46px !important;
}

body[keyboardShown] div.appBar {
	height: 46px !important;
	padding-top: 0 !important;
}

body[keyboardShown] span.button.small.return_button {
	top: -2px !important;
}*/