/*	IphoneX Default Modifications
*	Any orientation
*/
body[iPhoneX='1'] div.cardParent > div.cardContent > div.cardImageContainer {
	margin-top: 20px;
}


/*	IphoneX Orientation Portrait Primary (default) 
*	Upright position, notch at top
*/
body[iPhoneX='1'][orientation='portrait-primary'] div.appBar {
	height: 100px;
	padding-top: 54px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.appBar > span.return_button,
body[iPhoneX='1'][orientation='portrait-primary'] div.appBar > span.menu_button {
	top: 52px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.appBar > div.menu_list {
	top: 58px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.app > div.normalpage,
body[iPhoneX='1'][orientation='portrait-primary'] div.app > div.normalpage.nopadding {
	padding-top: 100px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.rightNav > div.appBar {
	height: 80px;
	padding-top: 30px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.rightNav > div.appBar > span {
	top: 30px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.appBar > span.subTitle {
	top: 60px !important;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.sideNav {
	padding-top: 154px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.sideNav > div.sidenav_header {
	height: 150px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.cardParent > div.cardHeader {
	height: 100px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.cardParent > div.cardHeader > h1.cardHeaderTitle {
	top: 54px;
}
body[iPhoneX='1'][orientation='portrait-primary'] div.cardParent > div.cardHeader > span.button.cardCloseButton {
	top: 46px;
}

body[iPhoneX='1'][orientation='portrait-primary'] #cabinetScanBtn, 
body[iPhoneX='1'][orientation='portrait-primary'] #backToScannerBtn, 
body[iPhoneX='1'][orientation='portrait-primary'] #articleScanBtn {
	bottom: 44px;
}
body[iPhoneX='1'][orientation='portrait-primary'] #cabinetInputBtn, 
body[iPhoneX='1'][orientation='portrait-primary'] #articleInputBtn {
	bottom: 22px;
}

/*
body[iPhoneX='1'][orientation='portrait-primary'] 
*/


/*	IphoneX Orientation Landcape Primary 
*	Horizontal position, notch left
*/
body[iPhoneX='1'][orientation='landscape-primary'] div.sideNav {
	width: 310px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.sideNav > div.sidenav_header > span.sidenav_title {
	left: 46px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.sideNav > div.sideNav_list > div.sidenav_listitem {
	padding-left: 46px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.sideNav > div.sideNav_list > div.sidenav_listitem > span.icon {
	left: 40px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.tabcontainer > div.tab {
	padding-left: 30px;
}
body[iPhoneX='1'][orientation='landscape-primary'] table.list tr > *:first-child,
body[iPhoneX='1'][orientation='landscape-primary'] div.cardParent > div.cardContent > h1.cardTitle,
body[iPhoneX='1'][orientation='landscape-primary'] div.cardParent > div.cardContent > span.cardText {
	padding-left: 38px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.content {
    padding-left: 30px;
}
body[iPhoneX='1'][orientation='landscape-primary'] span.keySpan {
    left: 32px;
}
body[iPhoneX='1'][orientation='landscape-primary'] #sideNavButton {
    left: 22px;
    left: 3;
}
body[iPhoneX='1'][orientation='landscape-primary'] #cabinetInputBtn,
body[iPhoneX='1'][orientation='landscape-primary'] #articleInputBtn {
    bottom: 17px;
}
body[iPhoneX='1'][orientation='landscape-primary'] #cabinetScanBtn,
body[iPhoneX='1'][orientation='landscape-primary'] #backToScannerBtn,
body[iPhoneX='1'][orientation='landscape-primary'] #articleScanBtn {
    bottom: 39px;
}
body[iPhoneX='1'][orientation='landscape-primary'] div.content > div.contentWrap {
    height: calc(100% - 100px);
}

/*	IphoneX Orientation Landcape Secondary
*	Horizontal position, notch right
*/
body[iPhoneX='1'][orientation='landscape-secondary'] table.list tr > *:last-child,
body[iPhoneX='1'][orientation='landscape-secondary'] div.tabcontainer > div.tab {
	padding-right: 30px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] div.cardParent > div.cardContent > h1.cardTitle,
body[iPhoneX='1'][orientation='landscape-secondary'] div.cardParent > div.cardContent > span.cardText {
	padding-right: 38px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] div.content {
    padding-right: 30px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] span.versionCode {
    right: 32px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] #cabinetInputBtn,
body[iPhoneX='1'][orientation='landscape-secondary'] #articleInputBtn {
    bottom: 17px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] #cabinetScanBtn,
body[iPhoneX='1'][orientation='landscape-secondary'] #backToScannerBtn,
body[iPhoneX='1'][orientation='landscape-secondary'] #articleScanBtn {
    bottom: 39px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] #newsButton {
    right: 30px;
}
body[iPhoneX='1'][orientation='landscape-secondary'] div.content > div.contentWrap {
    height: calc(100% - 100px);
}