/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @font-face {
	font-family: "Roboto Regular";
	src: url(../fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
@font-face {
	font-family: "Roboto Thin";
	src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}
@-webkit-keyframes scanner {
	0% {-webkit-transform: translateY(1%);transform: translateY(1%);}
	100% {-webkit-transform:translateY(99%);transform:translateY(99%);}
}
@keyframes scanner {
	0% {-webkit-transform: translateY(1%);transform: translateY(1%);}
	100% {-webkit-transform:translateY(99%);transform:translateY(99%);}
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	outline: 0px;
	box-sizing: border-box;
}
*:focus {
	outline: 0px;
}
b {
	font-family: "Roboto Regular";
}
i {
	font-family: "Roboto Light"
}
h2, h3, h4 {
    margin-top: 8px;
}
html {
	background-color: white;
}
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body {
	-webkit-touch-callout: none;		/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;		/* prevent webkit from resizing text to fit */
	text-size-adjust: none;		/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;			/* prevent copy paste, to allow, change 'none' to 'text' */
	user-select: none;					/* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:transparent;
	background-attachment:fixed;
	font-family: 'Roboto Light', 'Roboto Regular', Arial, sans-serif;
	color: #3A3A39;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
	/*font-smoothing: antialiased;*/
}

div#navbar { /* Remember, this "navbar" is for android phones that do not have hardware buttons. */
	display: none;
}

div.app {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 14px;
	-webkit-transition: 300ms ease-out -webkit-transform;
	transition: 300ms ease-out transform;
}
div.app > div.statusbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background-color: rgba(0,0,0,0.25);
	z-index: 150;
	-webkit-transition: 100ms linear background-color;
	transition: 100ms linear background-color;
}
div.app > div.statusbar.hidden {
	background-color: transparent;
}
body[platform='ios'] div.app > div.statusbar {
	height: 20px;
}
body[disableStatusBar='true'] div.app > div.statusbar {
	display: none;
}



div.app > div.normalpage {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	padding-top: 70px;
	overflow-y: hidden;
	overflow-x: hidden;
	opacity: 0.0;
	-webkit-transition: 350ms linear opacity, 350ms cubic-bezier(0.4, 0.0, 0.2, 1) -webkit-transform;
	transition: 300ms linear opacity, 300ms cubic-bezier(0.4, 0.0, 0.2, 1) transform;
	transform: scale(0.95);
}
div.app > div.normalpage.nopadding {
	padding: 0;
	padding-top: 70px;
}
body[disableStatusBar='true'] div.app > div.normalpage {
	padding-top: 50px;
}
div.app > div.normalpage[viewing] {
	opacity: 1.0;
	transform: scale(1);
}
div.app > div.normalpage[hiding] {
	transform: scale(1);
}

div.app > div.normalpage > div.content {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

div.app > div.rightNav > div.content {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 50px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling:touch;
	z-index: 8;
	width: 100%;
}

span.dropdown {
	display: none;
	position: relative;
	right: 24px;
	top: 6px;
	font-family: "Material Icons";
	-webkit-pointer-events: none;
	pointer-events: none;
	font-size: 26px;
	width: 5%;
}
body[platform='ios'] span.dropdown {
	display: inline-block;
}
div.dialog_buttons > span.button.small {
	overflow: hidden !important;
}
.maticons {
	font-family: "Material Icons";
}

span.button {
	font-family: "Roboto Regular";
}

span.button.small {
	overflow: hidden !important;
}

div.buildCode {
	position: absolute;
	bottom: 6px;
	right: 34px;
}

span.keySpan,
span.versionCode {
	display: block;
	position: absolute;
	bottom: 2px;
	left: 2px;
	z-index: 12;
	background: rgba(255,255,255,0.75);
	padding: 4px 12px;
	border-radius: 30px;
}
span.versionCode {
	left: initial;
    right: 2px;
	text-align: right;
}
span.keySpan > small,
span.versionCode > small {
    font-size: 10px;
}
.newsDisplay {
	display: none;
    padding: 8px;
}

span#newsButton {
	display: none;
    position: absolute;
    right: 0;
    font-size: 12px;
    font-family: "Roboto Light";
    margin: 0;
    padding: 8px;
}
div.normalpage img.logo_img {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	max-height: 70px;
	max-width: 300px;
	margin: 0 auto;
	z-index: 12;
}
div.app > div.loginPage {
	padding-top: 0;
}
div.app > div.loginPage > div.content {
	z-index: 1;
}
div.loginPage img.logo_img {
	position: relative;
	margin-top: 100px;
}
div.app > div.loginPage > div.blurbg {
	position: absolute;
	top: -6px;
	left: -6px;
	right: -6px;
	bottom: -6px;
	background-image: url('../img/Bureaulamp-3.jpg');
    background-size: cover;
    background-position: center;
	-webkit-filter: blur(4px);
	filter: brightness(0.9) blur(4px);
	z-index: 0;
}
div.loginPage div.loginForm {
	padding: 16px;
	position: relative;
	width: 100%;
}

div.loginForm span.button {
    width: 100%;
    margin: 0;
    border-radius: 50px;
    height: 54px;
    line-height: 40px;
}

.inputWrap {
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    height: 54px;
    padding: 0 16px;
    text-align: center;
	position: relative;
    margin-bottom: 16px;
	text-shadow: 0px 0px 8px black;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25), 0px 0px 8px rgba(0,0,0,0.25) inset;
}

div.loginForm .border {
    display: none;
}

div.inputWrap > div {
    padding: 0;
    height: 100%;
}

div.loginForm input {
    height: 100%;
    vertical-align: middle;
    text-align: center;
	font-size: 24px !important;
	color: white;
    text-shadow: 0px 0px 8px black;
}

div.loginForm span.label {
    top: 16px;
    opacity: 1.0;
	color: white;
	font-family: "Roboto Regular";
}

div.loginForm span.label.float {
    display: none;
}

div.login_icon {
    position: absolute;
    top: 12px;
    left: 12px;
    color: rgba(255,255,255,0.8);
}

#cabinetScanBtn, #backToScannerBtn, #articleScanBtn {
	position: absolute;
	bottom: 24px;
	right: 0px;
	left: 0px;
	padding: 20px 0;
	height: 60px;
	border-radius: 50px;
	width: 250px;
	margin: 0 auto;
}
#cabinetInputBtn, #articleInputBtn {
	position: absolute;
	bottom: 2px;
	right: 0;
	left: 0;
	width: 70px;
	height: 24px;
	padding: 8px 0;
	font-size: 10px;
	margin: 0 auto;
	text-decoration: underline;
	border-radius: 20px;
}

#backToScannerBtn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	width: 100px;
	right: 200px;
}

#articleScanBtn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 1px solid white;
	left: 100px;
	width: 200px;
}

div.articleWrapper > table {
	border-top: 1px solid grey;
	width: 100%;
}

div.newsDisplay img {
	max-width: 100%;
} 

#sideNavButton {
    position: absolute;
    top: -4px;
    left: -8px;
    margin: 0;
    overflow: hidden;
    z-index: 12;
}
#cabinetLogBtn {
	position: absolute;
	top: -4px;
	right: -8px;
	margin: 0;
	overflow: hidden;
	z-index: 12;
}

div.cabinetName {
	text-align: left;
	padding: 8px;
	font-size: 20px;
	font-family: "Roboto Regular";
}
div.cabinetDetails {
	text-align: center;
	font-weight: bold;
}

input[name="largeNumberInput"] {
	font-size: 48px !important;
}

div.app > canvas.loader {
    display: block;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}


div.app > div.homePage {
	padding-top: 0 !important;
}
div.homePage > div.content {
	padding-bottom: 90px;
	padding-top: calc(50vh + 8px);
}

div.imgblock {
    background-image: url('../img/office_products.jpg');
    background-size: cover;
    height: 50vh;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
}

.headerDisplay {
    padding: 0 8px;
}

div.app > div.cabinetPage {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
	position: relative;
	display:none;
}

.articleDisplay {
    display: block;
    padding: 8px;
	width: 100%;
	height: 80px;
    position: relative;
}

div.articleDisplay > img {
    height: 64px;
    padding: 8px;
}

span.articleTitle {
    display: box;
    display: -webkit-box;
    position: absolute;
    top: 16px;
    left: 88px;
    right: 16px;
    padding: 0;
    font-family: "Roboto Regular";
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    -webkit-box-orient: vertical;
	box-orient: vertical;
    font-size: medium;
}

span.articleSubtitle {
    display: block;
    position: absolute;
    left: 88px;
    bottom: 8px;
}
div.app > div.cabinetPage > div.content {
    position: relative;
    top: 40px;
    overflow-y: auto;
    height: calc(100vh - 40px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
	transform: translateY(0);
	animation: showCabinetList 500ms ease-out;
}

div.app > div.cabinetPage > .content.hiding {
	transition: 500ms ease-in transform;
	transform: translateY(100%);
}

div.cabinetPage > div.content > div.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

div.cabinetPage > div.content > div.contentWrap {
    position: relative;
    overflow-y: auto;
	height: calc(100% - 84px);
	padding: 0 8px;
}

@keyframes showCabinetList {
    0% {
        transform:translateY(100%);
    }
    100% {
        transform:translateY(0);
    }
}

div.loginMsgDisp {
    background-color: rgba(150,150,150,0.5);
    box-shadow: 0px 0px 8px rgba(100,100,100,0.5) inset;
    padding: 16px;
    color: white;
    font-size: large;
    text-shadow: 0px 0px 2px black;
    font-family: "Roboto Regular";
    border-radius: 5px;
    margin: 8px 8px;
    margin-bottom: 24px;
    text-align: center;
}

@media screen and (max-height: 400px) {

	div.loginPage img.logo_img {
		margin-top: 8px;
	}
	div.loginPage div.loginForm {
		padding-top: 0px;
	}
}